@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  height: 100vh;
  color: #333;
  background-image: linear-gradient(to top left, #8ec5fc 0%, #e0c3fc 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* LAYOUT */
main {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  width: 100rem;
  height: 60rem;
  background-color: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(200px);
  filter: blur();
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  overflow: hidden;
}

/* ELEMENTS */
.main-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main-expences-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.expences-container {
  display: flex;
  justify-content: center;
  width: 150px;
  height: 8 0px;
  background-color: white;
}

.expences-container p {
  display: flex;
  font-family: inherit;
  font-size: 1.8rem;
  text-transform: uppercase;
}
.total {
  position: relative;
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 2px;
  font-weight: 300;
  margin-bottom: 1rem;
}

.euro {
  font-size: 8rem;
  font-weight: 300;
  color: #aeb2fe;
  margin-bottom: auto;
}
/*SUMMARY SECTION*/
.summary-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: left;
  width: 300px;
  margin-bottom: 4rem;
}
.summary h1 {
  font-size: 1.8rem;
}
.details {
  width: 300px;
  font-size: 16px;

  background-color: white;
}
/* TRANSACTION SECTION */
.btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #444;
  background: none;
  border: none;
  font-family: inherit;
  font-size: 1.8rem;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 400;
  transition: all 0.2s;
  width: 300px;

  background-color: white;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);

  padding: 0.7rem 2.5rem;

  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
}

.btn:active {
  transform: translate(-50%, 3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.btn:focus {
  outline: none;
}
